---
interface Props {
	name: string;
	href: string;
	price: string;
    features: string[]; // Array para las características adicionales
}

const { name, href, price, features } = Astro.props;
---

<div class="w-full max-w-sm p-4 border rounded-lg shadow sm:p-8 mt-5">
    <h5 class="mb-1 text-xl font-medium">{name}</h5>
    <h5 class="mb-1 text-sm font-thin text-gray-100">Starting at</h5>
    <div class="flex items-baseline text-gray-100">
        <span class="text-3xl font-semibold">$</span>
        <span class="text-5xl font-extrabold tracking-tight">{price}</span>
        <span class="ms-1 text-xl font-normal text-gray-400">/month</span>
    </div>
    <ul role="list" class="md:space-y-2 my-4">
        {features.map((feature, index) => (
            <li class="flex items-center" key={index}>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="white"
                    aria-hidden="true"
                    data-slot="icon"
                    class="h-6 w-5 flex-none text-black"
                >
                    <path
                        fill-rule="evenodd"
                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                        clip-rule="evenodd"
                    ></path>
                </svg>
                <span class="text-base font-normal leading-tight text-gray-400 ms-3">
                    {feature}
                </span>
            </li>
        ))}
    </ul>
    <a
        type="button"
        class="text-black bg-white hover:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
        href={href}
    >
        Order
    </a>
</div>
